body{
    background: url("Pictures/bgstory.jpg");
    background-size: cover;

    

}



h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    text-align: center;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    text-align: center;
}